<h2><%= @article.title %></h2>

<p><%= @article.body %></p>

<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
    <% end %>
</p>

<%= link_to "Edit", edit_article_path(@article) %>
<!-- alert message will pop up upon request to delete -->
<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete?"} %>
<%= link_to "< Back", articles_path %>

<!-- path to partial of form for entering comments to article -->
<%= render partial: 'comments/comments_form' %>

<h4>Comments (<%= @article.comments.size %>)</h4>

<!-- path to comment partial in articles folder -->
<%= render partial: 'articles/comment', collection: @article.comments %>